<!DOCTYPE html>

<head>
    <title>Electrónica Básica</title>
    <link rel="icon" href="../static/images/fondo.jpg">
    <link rel="stylesheet" href="..\static\css\styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="row">
        <div class="col-8">
            <header>
                <nav>
                    <ul>
                        <li class="nav-item"> <a class="a" href="../index.html">Inicio</a></li>
                        <li class="nav-item"> <a href="basicos.html">Componentes básicos</a></li>
                        <li class="nav-item"> <a href="micro.html">Microcontroladores</a></li>
                        <li class="nav-item"> <a href="recursos.html">Recursos</a></li>
                    </ul>
                </nav>
            </header>

            <h1 id="titulo">Componentes básicos</h1>
            <hr class="solid">
            <p class="indent" style="padding-bottom: 30px">
                En la Electrónica podemos encontrar una amplia variedad de componentes
                y dispositivos, sin embargo los más básicos para iniciarse en este amplio
                mundo son los siguientes que se detallan a continuación:<br><br>
            </p>

            <ul class="indent">
                <li>Resistores</li>
                <li>Capacitores</li>
                <li>Inductores</li>
                <li>Diodos</li>
                <li>Diodos led</li>
                <li>Transistores</li>
                <li>Interruptores</li>
            </ul>

            <h3>Resistores</h3>
            <hr class="solid">
            <img src="..\static\images\resistores.webp" width="50%">
            

            <p class="indent" style="padding-bottom: 30px">
                La misión de los resistores o resistencias es dificultar el paso normal de la corriente eléctrica. Los 
                potenciómetros son tipos especiales de resistencia que ofrece valores ajustables y sirve, 
                por ejemplo, para aumentar o disminuir el volumen.<br><br>

                Las resistencias se oponen al paso de corriente. Al dificultar el paso de los electrones, 
                la intensidad que recorre el circuito será menor. Sirven como protección de otros elementos, 
                los cuales, si se someten a intensidades elevadas pueden quemarse o estropearse.<br><br>  

                Su valor se representa mediante 4 bandas de colores, que nos indican el valor de la resistencia. 
            </p>

            <h3>Capacitores o condensadores</h3>
            <hr class="solid">
            <img src="..\static\images\capacitores.jpg" width="50%">
            <p class="indent" style="padding-bottom: 30px">
                Son dispositivos pasivos que almacenan energía eléctrica recibida durante un periodo de carga, 
                para cederla después durante la descarga. Existen tres tipos: 
            </p>

            <ol class="indent">
                <li>Condensadores de valor fijo</li>
                <li>Condensador variable</li>
                <li>Condensador electrolítico</li>
            </ol>

            <h3>Inductores o bobinas</h3>
            <hr class="solid">
            <img src="..\static\images\inductores.jpg" width="50%">
            <p class="indent" style="padding-bottom: 30px">
                Las bobinas son muy fáciles de identificar. Son un hilo de cobre enrollado sobre sí mismo. Al espacio 
                interior de le llama núcleo y puede ser núcleo al aire o núcleo ferromagnético.<br><br> 

                Su función es transformar una corriente eléctrica en un campo magnético. 
            </p>

            <h3>Diodos</h3>
            <hr class="solid">
            <img src="..\static\images\diodos.jpg" width="50%">
            <p class="indent" style="padding-bottom: 30px">
                Son pequeños componentes de encapsulado negro. Su función es permitir el paso de corriente solamente en un sentido. 
                Tienen polaridad, la patilla positiva se le llama ánodo y a la negativa cátodo, que se identifica con una franja gris.<br><br>  

                Cuando conectamos el ánodo con el positivo de voltaje y el cátodo con el negativo, estos permiten el paso de corriente. 
                Pero si los conectamos de forma inversa impiden la circulación de electrones y se comportan como un interruptor abierto. 
            </p>

            <h3>Diodos Led</h3>
            <hr class="solid">
            <img src="..\static\images\leds.jpg" width="50%">
            <p class="indent" style="padding-bottom: 30px">
                Elemento electrónico pasivo, el led es un tipo de diodo con la propiedad de emitir luz cuando recibe energía. Está formado 
                por un encapsulado y dos terminales, ánodo y cátodo. Se utilizan principalmente como indicadores de funcionamiento o iluminación. 
                Con la unión de varios se pueden formar displays o pantallas.
            </p>

            <h3>Transistores</h3>
            <hr class="solid">
            <img src="..\static\images\transistores.jpg" width="50%">
            <p class="indent" style="padding-bottom: 30px">
                Son dispositivos semiconductores de gran importancia dentro de la electrónica, que funcionan principalmente 
                como amplificador de señales, oscilador, conmutador, rectificador o switch electrónico. Si son fototransistores 
                se trata de componentes sensibles a la luz.<br><br> 

                Hay gran variedad de transistores, con distintas características y ventajas.<br><br>   

                La mayoría tiene un encapsulado negro y tres patillas. Los más comunes son los de unión bipolar y los de efecto de campo, 
                también llamaos FET. 
            </p>
            
            <h3>Interruptores</h3>
            <hr class="solid">
            <img src="..\static\images\interruptores.jpg" width="50%">
            <p class="indent" style="padding-bottom: 30px">
                Son los encargados de controlar el encendido y el apagado de los equipos.<br><br> 

                Son elementos que permiten o interrumpen el paso de la corriente eléctrica a través de un circuito.
            </p>


        </div>
        <div class="col-4">
        </div>
    </div>
</body>