$white: white;
$margin: 100px;

.indent{
    color: $white;
    margin-left: $margin;
}

#titulo{
    @extend .indent;
    margin-top: $margin;
    font-style: bold;
}
li > a[href]{
    display: block; 
    padding: 20px;
    color: $white;
    text-decoration: none;
    transition: background-color .5s;
}

a:hover[href] {
    text-decoration: none;
    background-color: #eca023;
    color: $white;
}

h3, h2{
    color: $white;
    margin-left: $margin; 
}

img {
    margin-top: 20px;
    margin-left: $margin;
    margin-right: 200pt;
    border: 2px solid grey;
    border-radius: 8px;
}

hr.solid
{
    margin-left: 70pt;
    margin-right: 70pt;
    border-top: 3px solid #C0C0C0;
    border-radius: 5px;
}

th,td{
    color: $white;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-8"] {
      width: 100%;
    }
}

html {
    body {
        background: black;

        header {
            background: #c0c0c071;
            width: 100%;
            position: fixed;
            z-index: 100;

            nav {
                float: left;

                ul {
                    list-style: none;
                    overflow: hidden; 
                    li {
                        float: left;
                        font-family: Arial, Helvetica, sans-serif;;
                        font-size: 20px;
                        }
                    }
            }
        }

        h1 {
            color: $white;
            margin-left: $margin;
            margin-top: $margin;
            font-style: bold;
        }

        h4 {
            color: $white;
            margin-left: $margin;
        }


    }

}